*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  margin: 0;
  height: 100vh;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div#principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 2rem;
  background-color: #FFFFFF;
  gap: 0.5rem;
  margin-top: 3rem;
  border: transparent;
  height: 75%;
}
p#nombre{
  font-size: 1rem;
  padding: 1.5rem 0 0 0;
  margin: 0;
  font-weight: 800;
  color: #2980B9;
}

.form-input-container{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
form#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: transparent;
  border-radius: 0.5rem;
  background-color: #81d6f5;
  padding: 10px;
}
label, input, button{
  font-size: x-small;
  border-radius: 4px;
}

ul#list{
  align-items: center;
  height: 20rem;
  overflow-y: scroll;
  width: 95%;
  padding: 0;
  border-radius: 1rem;
  background-color: #81d6f5;
  border: transparent;
  height: 100%;
}

#list::-webkit-scrollbar{
  width: 6px;
}
#list::-webkit-scrollbar-thumb{
  background-color:#2980B9;
  border-radius: 4px;
}
p{
  padding: 0.3rem;
  font-size: x-small;
}

li{
  align-items: center;
  justify-content: space-between;
}

li.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #FFFFFF;
}

.info {
  display: none;
  font-size: xx-small;
  color: red;
  margin: 0;
  padding: 5px;
  
}

button#form-btn{
  background-color: #2980B9;
  border-radius: 2rem;
  color: #f8f9fa;
  transition: background 0.2s ease-in;
}
button#form-btn:hover{
  background-color: #7cb5db;
  cursor: pointer;
  border-radius: 2rem;
}

button#close{
  background-color: #2980B9;
  border-radius: 2rem;
  color: #f8f9fa;
  padding: 0.5rem;
  margin-bottom: 1rem;
  transition: background 0.2s ease-in;
}

button#close:hover{
  background-color: #6a9ad4;
  cursor: pointer;
  border-radius: 2rem;
}
.edit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.5rem;
  cursor: pointer;
  color: black;
  background-color: #81d6f5;
  transition: background 0.2s ease-in;
}

.edit-btn:hover{
  width: 1.8rem;
  height: 1.5rem;
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(18, 251, 18);
  border-radius: 1.5rem;
}
.delete-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.5rem;
  cursor: pointer;
  color: rgb(251, 2, 2);
  background-color: #81d6f5;
  border-radius: 2rem;
  transition: background 0.2s ease-in;
}

.delete-btn:hover{
  width: 1.8rem;
  height: 1.5rem;
  cursor: pointer;
  color: aliceblue;
  background-color: red;
}


.form-input {
  outline: none;
}

.form-input:focus {
  outline: none;
}

.sombreado{
  outline: inset;
  border-radius: 3px;
}
.correct, .correct:focus {
  outline: 2px solid rgb(1, 237, 1);
  border-radius: 2px;
}

.incorrect, .incorrect:focus {
  outline: 2px solid red;
  border-radius: 2px;
}

.show {
  display: flex;
}
@media (min-width: 425px){
    
  p#nombre{
    font-size: 1.5rem;
  }

  p{
    font-size: medium;
  }

  label, input, button{
    font-size: small;
  }

  button.delete-btn, button.edit-btn, button.edit-btn:hover, button.delete-btn:hover {
    width: 2.3rem;
    height: 1.6rem;
  }
}

@media (min-width: 768px){

  p#nombre{
    font-size: 1.7rem;
  }

  div#principal{
    width: 70%;
  }

  button.delete-btn, button.edit-btn, button.edit-btn:hover, button.delete-btn:hover {
    width: 2.5rem;
    height: 1.8rem;
  }
  
  .info {
    font-size: x-small;
  }

}

@media (min-width: 1024px){
  
  p#nombre{
    font-size: 2rem;
  }

  div#principal{
    width: 60%;
  }

  p{
    font-size: large;
  }

  label, input, button{
    font-size: large;
  }

  button.edit-btn, button.delete-btn, button.edit-btn:hover, button.delete-btn:hover {
    width: 3.2rem;
    height: 2.1rem;
  }
  .info {
    font-size: small;
    gap: 0;
  }
}